.separate {
    display: grid;
    grid-template-columns: 250px 1fr;
    padding: 20px;
}
aside {
    background-color: #5D91D4;
    padding: 20px;
}

aside h2 {
    margin-bottom: 10px;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
	justify-items: center;
}

.box {
    background-color: antiquewhite;
    border: 5x solid black;
}

.foot {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem
}
img{
    width: 300px;
    height: 350px;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: white;
    text-align: center;
}

nav a:hover {
    background-color: #BAA075;
}
h3{
	text-align: center;
}
header{
	display: grid;
	background-color: #95A7C2;
}
.links{
	display: grid;
	background-color: antiquewhite;
}
h1{
	display: grid;
	justify-items: center;
}