.separate {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    padding: 20px;
}
aside {
    background-color: white;
    padding: 20px;
}

aside h2 {
    margin-bottom: 10px;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: 1rem;
}

div div {
    background-color: cornflowerblue;
    border: 1px solid darkblue;
}

.foot {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem
}
img{
    width: 200px;
    height: 250px;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: white;
    text-align: center;
}

nav a:hover {
    background-color: lightblue;
}